$dark: #141518;
$bordeaux: #720125;
$bordeaux-0: rgba(114, 1, 37, 0);
$black-50: rgba(0, 0, 0, 0.5);
$warm-grey: #797979;
$rouge: #a30c33;
$white: #d8d8d8;
$off-white: #fffffe;
$white-two: #f5f5f5;
$brownish-grey: #606060;
$warm-grey-two: #7e7e7e;
$pinkish-grey: #c9c9c9;
$greyish-brown: #494949;
$charcoal-grey: #393b41;
$black: #000000;
$bordeaux-0: rgba(114, 1, 37, 0);
$white-two: #f5f5f5;
$white-three: #ffffff;
$white-four: #eeeeee;
$cranberry: #990434;